<%- include('partials/header', { title: movie ? movie.name : 'Movie Details' }) %>

<main class="container">
  <% if (!movie) { %>
    <h1>Movie not found</h1>
    <p class="detail-links">
      <a href="/movies">Back to Movies</a> |
      <a href="/">Home</a>
    </p>
    <% } else { %>
      <h1><%= movie.name %></h1>

      <div class="movie-details">
        <p><strong>Description:</strong> <%= movie.description %></p>
        <p><strong>Year:</strong> <%= movie.year %></p>
        <p><strong>Genres:</strong> <%= movie.genres %></p>
        <p><strong>Rating:</strong> <%= movie.rating %></p>
        <p><strong>Director:</strong> <%= movie.director %></p>
      </div>

        <p class="detail-links">
          <a href="/movies/<%= movie._id %>/edit">Edit</a>
          |
          <a href="/movies">Back to List of Movies</a>
          |
          <a href="/">Home</a>
        </p>
    <% } %>
</main>
<%- include('partials/footer') %>