<!DOCTYPE html>
<html>
  <head>
    <title>Edit Movie</title>
  </head>
  <body>

    <h1>Edit Movie</h1>

    <% if (errors && errors.length > 0) { %>
      <div style="color: rgb(240, 102, 102)">
        <h3>Errors:</h3>
        <% errors.forEach(error => { %>
          <p><%= error %></p>
        <% }) %>
      </div>
    <% } %>

    <form method="POST" action="/movies/<%= movie._id %>/edit">
      <div>
        <label>Movie Name:</label>
        <input type="text" name="name" value="<%= movie.name %>" />
      </div>

      <div>
        <label>Description:</label>
        <textarea name="description"><%= movie.description %></textarea>
      </div>

      <div>
        <label>Year:</label>
        <input type="number" name="year" value="<%= movie.year %>" />
      </div>

      <div>
        <label>Genres (comma separated):</label>
        <input type="text" name="genres" value="<%= movie.genres %>" />
      </div>

      <div>
        <label>Rating (0-10):</label>
        <input type="number" name="rating" value="<%= movie.rating %>" />
      </div>

      <div>
        <label>Director:</label>
        <input type="text" name="director" value="<%= movie.director %>" />
      </div>

      <button type="submit">Save Changes</button>
    </form>

    <br>
    <a href="/movies/<%= movie._id %>">Cancel</a>

  </body>
</html>
